.TodoList {
  text-align: center;
  margin-top: 200px;
}
.TodoList > input {
  padding: 10px;
  margin-right: 20px;
}
.TodoList > button {
  padding: 10px;
}
.TodoList > ul {
  list-style: none;
  margin-right: 100px;
}
.delete {
  margin: 15px;
}
